@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-secondary;
}

@layer base {
  h1 {
    line-height: 1.3 !important;
  }
  h2 {
    line-height: 1.3 !important;
  }
  p {
    line-height: 2;
  }
}